<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a href="#" class="navbar-brand"><%= nav_business_name %></a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <% if current_user&.admin? %>
        <li class="navbar-item">
          <%= link_to 'Businesses', businesses_path, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="navbar-item">
          <%= link_to 'Businesses', user_businesses_path, class: 'nav-link' %>
        </li>
      <% end %>
      <li class="navbar-item">
        <a href="#" class="nav-link">Employees</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="nav-link">Departments</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="nav-link">Settings</a>
      </li>
      <% if current_user %>
        <li class="navbar-item">
          <%= link_to 'Signout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="navbar-item">
          <%= link_to 'Signin', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
